    /* Mobile */
@media screen  {
   * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    main {
    background: url(/assets/images/fundo.png) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh; /* Usa a altura visível da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: env(safe-area-inset-top); /* Respeita o notch */
    padding-bottom: env(safe-area-inset-bottom);
    overflow-x: hidden;
    }

    section#cadastro {
        background-color: white;
        width: 300px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.468);
        padding: 10px;
        margin: 15px 0; /* Espaço superior/inferior adicional */
        position: relative;
    }

    section#cadastro > div#imagem {
        display: block;
        background: url(/assets/images/logo-evento.png) no-repeat;
        background-position: center center;
        background-size: cover;
        height: 270px;
        width: 100%;
        margin: auto;
        border-radius: 10px;
    }
    
    section#cadastro > div#formulario {
        display: block;
        padding: 9px;
    }

    div#formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 1.2em;
        color: #193B62;
    }

    div#formulario > h1 > span{
        font-weight: bolder;
        font-size: 1.2em;
        color: #193B62;
    }

    p label, p input  {
        color: #193B62;
    }

    form {
        font-size: 1.1em;
    }

    form > p {
        padding-bottom: 5px;
    }

    input {
        font-size: 1.1em;
        border-radius: 8px;
        width: 100%;
        outline: 0;
        padding: 0px 0px 0px 10px;
    }

    input:focus-within {
        background-color: #D3E6F8;
    }

    div#membro{
        padding: 10px;
    }

    div#membro > p > input {
        margin-top: 10px;
        display: inline-block;
        width: 10%;
    }

    input::placeholder {
        padding-left: 7px;
    }

    form > input[type=date] {
        padding-left: 2px;

    }

    div#msg {
        padding-top: 10px;
        font-size: 1.1em;

    }

    form a {
        color: #06265B;
        margin-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }

    form a:hover {
        text-decoration: none;
    }

    button#nvdependente {
        display: block;
        margin: auto;
        padding: 5px;
        background-color: transparent;
        text-align: center;
        border: none;
        cursor: pointer;
    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        margin-top: 10px;
        background-color: #1F4263;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s;
        
        &:disabled{
            opacity: 0.3;
        }

        &:hover:disabled{
            cursor: no-drop;
        }

        &:active:disabled {
            transform: scale(1);
        }


    }

    form > input[type=submit]:hover {
        background-color: #1f426370;
    }

    form > input[type=submit]:active {
        transform: scale(.9);
    }

    .spinner {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-right: 8px;
    vertical-align: middle;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    form > button#btn-send {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #1F4263;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    transition: all 0.2s;
    }

    .preloader.hidden {
        display: none !important;
    }

    #btn-back {
        display: block;
        font-size: 1em; 
        width: 100%;
        border: none;
        background: none;
        margin-top: 15px;
        text-decoration: underline;
        color: #CE9D2C;

        &:hover {
            text-decoration: none;
            font-weight: bolder;
        }
    }
}


    /* Tablet e desktops */
@media screen and (min-width: 769px) { 

    section#cadastro {
        width: 510px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    section#cadastro > div#imagem {
        margin-top: 5px;
        height: 300px;
        width: 380px;
        border-radius: 10px;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 15px 0px;
    }

    form a {
        margin-left: 109px;
        font-size: 1.1em;
    }

    button#nvdependente {
        font-size: 1.1em;
    }

    button#enviar {
        width: 400px;
        font-size: 1.1em;
    }

}