<!--====== PRELOADER PART START ======-->

<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <section>
        <h1>Inscrições lotadas!!</h1>
        <p>Todas as vagas foram preenchidas. Obrigado por participar!</p>
        <!-- <p>Nossas inscrições estão esgotadas. Caso queira entrar na lista de espera, clique no link abaixo!</p>
        <a href="">Clique aqui para se inscrever na fila de espera</a> -->
    </section>
</main>